@charset "utf-8";

@media (min-width: 1024px) {

  header {
    width: calc(100% - 180px);
    left: 180px;
  }
  
  nav {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    flex-direction: column;
    width: 180px;
    height: 100vh;
    border: none;
    gap: 16px;
    padding-top: 32px;
  }

  .nav-item {
    height: 64px;
    flex: 0;
    justify-content: left;
  }

  .content {
    margin-left: 180px;
  }
}