@charset "utf-8";

@media (min-width: 768px) {

  .tab-content {
    padding: 32px 64px;
  }

  nav {
    gap: 32px;
    padding: 16px;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 16px 8px;
  }

  .nav-item.active {
    background: #1976d221;
  }

  .nav-item i {
    margin: 0 12px 0 0;
    font-size: 32px;
  }

  .nav-item span {
    font-size: 14px;
  }

  .ranking-top {
    flex-direction: row;
    width: 100%;
  }

  .rank-1,
  .rank-2,
  .rank-3 {
    flex: 1;
    margin: 0;
  }

  .rank-1 {
    order: 2;
    padding-block: 48px;
  }

  .rank-2 {
    order: 1;
    margin-top: 32px;
  }

  .rank-3 {
    order: 3;
    margin-top: 48px;
  }
}