@media (min-width: 768px) {

  .tab-content {
    padding: 32px 64px;
  }

  nav {
    gap: 32px;
    padding: 16px;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 16px 8px;

    &.active {
      background: #1976d221;
    }

    i {
      margin: 0 12px 0 0;
      font-size: 32px;
    }

    span {
      font-size: 14px;
    }
  }
}